hello-world/bin/*
hello-world/obj/*
lucians-luscious-lasagna/bin/*
lucians-luscious-lasagna/obj/*
annalyns-infiltration/bin/*
annalyns-infiltration/obj/*
log-levels/bin/*
log-levels/obj/*
log-analysis/bin/*
log-analysis/obj/*
phone-number-analysis/bin/*
phone-number-analysis/obj/*